.generator-wrap {
  margin: 0px auto;
  color: black;
  min-width: 300px;

  .main-img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
  }

  h2 {
    margin-bottom: 1rem;
    color: rgb(61, 61, 61);
  }

  .add-participant-btn {
    @include button-styles-1;

    &:hover {
      @include button-styles-hover;
    }
  }
}
