.pair-container {
  .main-img {
    height: 15.625rem;
    width: 15.625rem;
    display: block;
    margin: 0 auto;
  }
  .inner-pair-container {
    background-color: white;
    margin-top: 1.875rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 2px black;
    padding: 0.3125rem;
    width: 21.875rem;
    text-align: center;
    margin-bottom: 3.125rem;

    h2 {
      span {
        color: $christmas-green2;
      }
    }
    h3 {
      span {
        color: $christmas-red2;
      }
    }

    .pairing-img {
      height: 9.375rem;
      width: 9.375rem;
      display: block;
      margin: 0 auto;
    }
  }
}
.pair-container {
  .main-img {
    height: 15.625rem;
    width: 15.625rem;
    display: block;
    margin: 0 auto;
  }
  .inner-pair-container {
    background-color: white;
    margin-top: 1.875rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 2px black;
    padding: 0.3125rem;
    width: 21.875rem;
    text-align: center;
    margin-bottom: 3.125rem;

    h2 {
      span {
        color: $christmas-green2;
      }
    }
    h3 {
      span {
        color: $christmas-red2;
      }
    }

    .pairing-img {
      height: 9.375rem;
      width: 9.375rem;
      display: block;
      margin: 0 auto;
    }
  }
}
