.pair-item {
  list-style-type: none;
  min-width: 300px;
  margin: 0 auto;

  li {
    margin-bottom: 0.3125rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3125rem;
    box-shadow: 0 0 2px black;
    border-radius: 10px;
    background-color: #fff;

    .pair-number {
      background-color: #235e6f;
      height: 1.5625rem;
      width: 1.5625rem;
      color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.3125rem;
      padding: 0.5rem;
    }

    div {
      flex: 4;
      span {
        color: $christmas-red2;
        font-weight: 700;
      }

      .fa-glass-cheers {
        // color: $christmas-blue;
        color: #235e6f;
      }
    }

    .copy-btn {
      margin-left: 0.3125rem;
      color: #235e6f;
      font-weight: 700;
      background: white;
      font-size: 0.8rem;
      padding: 0.3125rem;
      border: 2px solid #235e6f;
      border-radius: 0.625rem;
      letter-spacing: 1px;

      &:hover {
        background: #8acae0;
        color: #235e6f;
      }
    }
  }
}
