@include media-md {
  .participants-container {
    .participant-container {
      .input {
        height: 2.5rem;
        font-size: 1.2rem;
      }

      .remove-btn {
        font-size: 1rem;
      }
    }
  }

  .generator-wrap {
    .add-participant-btn {
      font-size: 1rem;
    }

    .create-ss-list {
      font-size: 1rem;
    }

    .pair-item {
      width: 21.875;
      font-size: 1.2rem;
    }
  }
}
